.landing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    padding: 0.5em;
    margin: 0 auto;
    /* text-align: center; */
    min-height: 100vh;
    overflow: hidden;
  }

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    transition: all 0.5s ease-in-out;
}
.text-section .MainCopy {
    font-size: 2.3rem;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.text-section .SubCopy {
    color: #23A174;
    font-size: 1.9rem;
}

.image-section {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 60vw;
}

.image-section img {
    width: 30vw;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 5em;
    z-index: 1;
}

.button-container .BtnStart {
    width: 25vw;
    height: 7vh;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 10px;
    margin: 0 20px;
    background-color: #23A174;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 반응형 웹 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
.landing-container {
    width: 100%;
    flex-direction: column;
}
.text-section {
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    width: 100%;
}
.text-section, .image-section {
    flex-basis: 100%;
}
}
