.tableContainer {
    padding: 1rem;
    max-width: 100%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  th,
  td {
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  .pagination {
    padding: 0.5rem;
  }
  
  /* 헤더가 정렬 가능함을 나타내는 스타일 */
  .sortable-header {
    cursor: pointer;
  }
  
  정렬 상태를 나타내는 스타일
  .sortable-header.is-sorted-asc::after {
    content: " 🔼";
  }
  
  .sortable-header.is-sorted-desc::after {
    content: " 🔽";
  }
  
  /* 페이지네이션 버튼 스타일 */
  .pageButton {
    cursor: pointer;
    padding: 0.5rem;
    margin-right: 0.3rem;
    border: none;
    background-color: #e7e7e7;
    border-radius: 5px;
  }
  
  .pageButton:hover {
    background-color: #d4d4d4;
  }
  
  .pageButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  