/* BodyBalance.css */
.bodyBalanceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    max-width: 70%; 
  }
  
  .bodyBalanceContainer h4 {
    color: #333;
    margin-bottom: 20px;
    align-self: start;
  }
  
  .bodyBalanceContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .bodyBalanceGraphic {
    width: 30%; /* Adjust based on your actual image size */
    height: auto;
  }
  .balanceTable {
    width: 50%; /* Subtract the image width and margin */
    border-collapse: collapse;
    text-align: center;
    border-color: #fff
  }
  
  .balanceTable thead th {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    border: 1px solid #fff;
  }
  
  .balanceTable tbody td {
    padding: 10px;
    border: 1px solid #fff;
  }
  
  .balanceStatus {
    background-color: #FFA500; /* Placeholder color for imbalance */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border-color: #fff;
  }
  
  .balanceStatus.green {
    background-color: #2ED47A; /* Green for balance */
    border: 1px solid #fff;
  }
  
  .balanceStatus.red {
    background-color: #F7685B; /* Red for imbalance */
    border: 1px solid #fff;
  }