body {
    padding: 0;
    margin: 0;
}

.dashboard-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.dashboard-content{
    display: flex;
    flex-direction: column;
}

.dashboard-pressure-balance{
    display: flex;
    flex-direction: row;
}
