/* FootPressDistribute.css */
.footPressContainer {
    display: flex;
    width: 100%;    
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .footPressContainer h4 {
    color: #333;
    margin-bottom: 20px;
    align-self: start;
  }
  
  .footPressData {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .footPressGraphic {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  
  .footPressGraphic img {
    max-width: 100%;
    height: auto;
  }
  
  .footPressInfo {
    width: 75%;
    padding: 0 20px;
  }
  
  .footPressInfo table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
  }
  
  .footPressInfo th, 
  .footPressInfo td {
    padding: 10px;
    border: 1px solid #fff;
  }
  
  .footPressInfo th {
    background-color: #fff;
  }
  
  .footPressInfo td {
    font-weight: bold;
  }
  
  .leftFoot, .rightFoot {
    border-radius: 5px;
    color: #ffffff;
  }
  
  .leftFoot {
    background-color: #F7685B; /* Red color */
  }
  
  .rightFoot {
    background-color: #2ED47A; /* Green color */
  }
  
  /* Adjustments based on the image provided */
  .footPressInfo th:not(:first-child), 
  .footPressInfo td:not(:first-child) {
    width: 15%; /* Adjusting the width to fit content based on the image */
  }
  