.inner {
    width: 100%;
    height: 100%;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner .bebemain {
    position: relative;
    width: 30vw;
    height: auto;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('../assets/bebeimg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;    
    flex-shrink: 0;
}

.inner .login {
    justify-content: center;
    width: 100%;
}
.inner form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner form .idpw {
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px auto;
    width: 500px;
    height: 50px;
}


.inner form .submits {
    width: auto;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner form .submits .submit {
    margin: 5px auto;
    width: 400px;
    height: 48px;
    background-color: #23a174;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-weight: bolder;
}
.inner form .submits .submit:hover,
.inner form .submits .submit:focus {
    background-color: #202020;
}

.inner form .submits .submit.kakao {
    background-color: #ffeb33; /* 피그마에서 지정한 색 말고 카카오 로고 이미지 색 따서 썼음  */
    color: #371d1e;
    background-image: url('../assets/kakaologo.png'); /* 카카오 로고 이미지 */
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 60px center;
    padding-left: 40px;
}
.inner form .submits .submit.kakao:hover,
.inner form .submits .submit.kakao:focus {
    background-color: #e9d41a;
}
.inner form .submits .submit.naver {
    background-color: #21cb01;
    color: #fff;
    background-image: url('../assets/naverlogo.png'); /* 네이버 로고 대문자 N 이미지 */
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 65px center;
    padding-left: 40px;
}
.inner form .submits .submit.naver:hover,
.inner form .submits .submit.naver:focus {
    background-color: #22af06;
}

.signup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 20px auto;
    text-align: center;
}
.signup .login-menu-set {
    flex: 1;
    margin: auto;
}
.signup .login-menu-set a {
    text-decoration: none;
    color: #000;
    text-align: center;
    size: 20px
}
.signup .login-menu-set a:hover {
    font-weight: bolder;
}
