.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* creates 7 equal columns for the days */
  gap: 10px; /* space between the cells */
  max-width: 600px; /* adjust based on your preference */
  margin: auto;
  padding: 2em;
}

.day-cell, .empty-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px; /* fixed height for each cell */
  border-radius: 50%; /* creates the circle shape for dates */
  color: #000; /* default text color, change as needed */
}

.diagnosis {
  background-color: #007bff; /* blue background for diagnosis days */
  color: white; /* white text for contrast */
}

/* Style for the weekday headers */
.weekday-header {
  text-align: center;
  font-weight: bold;
}

/* Style for the button at the bottom */
.view-calendar-button {
  background-color: #23A174;
  width: 20vw;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  border-radius: 4px;
}

/* Style for the header */
h2 {
  text-align: center;
  color: #333; /* dark grey color for the text */
  margin-bottom: 20px;
}

/* Hover effect for day cells */
.day-cell:hover:not(.empty-cell) {
  background-color: #0056b3; /* darker blue on hover */
  color: white;
  cursor: pointer;
}

.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.month-navigation button {
  padding: 10px;
  margin: 0 20px;
  background-color: #23A174;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.month-navigation button:hover {
  background-color: #23A174;
}