.signup-page {
    width: 80vw;
}
.signup-page .signup-inner {
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .signup-page .signup-form input[type="text"],
  .signup-page .signup-form input[type="password"] {
    width: 70%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-page .signup-form input[type="submit"] {
    width: 70%;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup-page .signup-form input[type="submit"]:hover {
    background-color: darkgreen;
  }
  