.weightbalance-container {
  display: flex;
  width: 100%;    
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
}

.weightbalance-container h4 {
  color: #333;
  margin-bottom: 20px;
  align-self: start;
}

.weightbalanceData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.weightbalanceGraphic {
  width: 50%;
  display: flex;
  justify-content: center;
}

.weightbalanceGraphic img {
  max-width: 100%;
  height: auto;
}

.weightbalanceInfo {
  width: 75%;
  padding: 0 20px;
}

.weightbalanceInfo table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

.weightbalanceInfo th, 
.weightbalanceInfo td {
  padding: 10px;
  border: 1px solid #fff;
}

.weightbalanceInfo th {
  background-color: #fff;
}

.weightbalanceInfo td {
  font-weight: bold;
}

.leftFoot, .rightFoot {
  border-radius: 5px;
  color: #ffffff;
}

.leftFoot {
  background-color: #F7685B; /* Red color */
}

.rightFoot {
  background-color: #2ED47A; /* Green color */
}

/* .footPressGraphic{
  position: relative;

}

.footPressGraphic img {
  position: absolute;
  left: 0%;
  width: 50%;
  height: auto;
}


.footPressGraphic svg {
  position: absolute;
  left: 0%;
  width: 50%;
  height: auto;
} */



/* Adjustments based on the image provided */
.weightbalanceInfo th:not(:first-child),
.weightbalanceInfo td:not(:first-child) {
width: 15%; /* Adjusting the width to fit content based on the image */
}
