.workout-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.BodyGrowthAnalysis{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}