.canvas-container {
    /* 캔버스를 감싸는 컨테이너의 스타일 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid #ccc; /* 캔버스 주변에 보더를 추가 */
    background-color: #f0f0f0; /* 배경색 */
  }
  
  canvas {
    /* 캔버스 자체에 대한 스타일 */
    border: 1px solid black; /* 캔버스 테두리 */
  }
  